* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Navbar */

nav {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
}

nav a {
  text-decoration: none;
  color: #2d2a71;
  font-weight: bold;
}

nav a:hover {
  color: #484142;
}

/* Formularios */

form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  max-width: 500px;
  margin-bottom: 2rem;
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #2d2a71;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #484142;
}

/* Lista de post */
ul {
  list-style: none;
  padding-left: 0;
}

li {
  background-color: #fff;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

li a {
  color: #2d2a71;
  font-weight: bold;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

/* Títulos */

h1 , h2 {
  margin-bottom: 1rem;
  color: #2d2a71;
}